week01/__pycache__

week02/Libs_ReadnWriteFile_JSON/__pycache__

week03/__pycache__
week03/Libs_ReadnWriteFile_JSON/__pycache__

week04/HackAirLines/__pycache__

week07/HackAirLines/__pycache__

week10/Dekorators/__pycache__
week10/HackCinema/__pycache__
week10/HackCinema/__init__.py
week10/HackCinema/interface/__pycache__
week10/HackCinema/settings/__pycache__
week10/HackCinema/settings/__init__.py
week10/HackCinema/HackCinema
week10/HackCinema/where_the_magic_happens/__pycache__
week10/HackCinema/queries/__pycache__
week10/HackCinema/queries/__init__.py
week10/HospitalManager/__pycache__
week10/HospitalManager/HospitalManager

week11/Mixins/__pycache__
week11/Money_In_The_Bank/__pycache__
week11/Money_In_The_Bank/BankMoney

week11/pitonQ/__pycache__
week11/pitonQ/PitonQ


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/
